body {
  background-color: #f0f0f0;
  font-family: "Karla", sans-serif;
}

main {
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  width: 50%;
  margin-top: 100px;
  box-shadow: 4px 1px 19px 0px rgb(165, 158, 158);
}

.intro-section {
  background-color: #fff;
  padding: 35px;
}
.join {
  color: #38a6a1;
}

.day {
  color: hsl(71, 73%, 54%);
}

.intro-section > p {
  color: hsl(218, 22%, 67%);
  font-size: 16px;
}

.details-section {
  display: flex;
  color: #fff;
}

.details-section > div {
  flex: 1 50%;
}

.details-section-item1 {
  background-color: #2cb3b1;
  padding: 10px 35px;
}

.details-section-item2 {
  background-color: #4bbdbd;
  padding: 10px 35px;
}

.price {
  font-size: 25px;
  vertical-align: middle;
}

button {
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  color: #fff;
  padding: 10px 100px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

button:hover {
  background-color: hsl(71, 67%, 40%);
}

ul {
  padding: 0;
}

li {
  font-size: 12px;
  line-height: 20px;
  list-style: none;
  margin-right: 15px;
}

@media (max-width: 769px) {
  main {
    width: 85%;
  }

  .details-section {
    flex-wrap: wrap;
  }

  .details-section > div {
    flex: 100%;
  }
}
